


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    
</head>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-Secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="background: gold;border: solid black; padding:10px"><b>G1 Technologies</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
       
           <a class="nav-link active" aria-current="page" href="/home" style="color:black;">Home</a>
           </li>
          
        
          
        <li class="nav-item">
          <a class="nav-link" href="/add/" style="color:black;">Add Employe</a>
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/show/" style="color:black;">Show employee</a>
      </li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout/" style="color:black;">Logout</a>
    </li>
  </li>
          
        
          
       
        
         
        {% else %}
      
    
        <li class="nav-item">
          <a class="nav-link" href="/login" style="color:black;">Login</a>
        </li>
        

        
        {% endif %}
          
          
        </ul>
      </div>
    </div>
  </nav>
  <style>
   
    a.nav-link:hover, a.nav-link:active {background:gold;font-size: 110%}

  </style>

{% block content %}

{% endblock %}

</body>

</html>