{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<center>
<h1>Login please</h1>
<form action="/login/" method="post" style="border: solid white; background-color: wheat;" class="col-3">
  {% csrf_token %}
<div class="form-group">
  <label for="">Username</label>
  <input type="text" name="username" id="" class="form-control" placeholder="name" >
  
</div>
<div class="form-group">
    <label for="">Password</label>
    <input type="password" name="password" id="" class="form-control" placeholder="name" >
    
  </div>
{% if error %}

<p class="text-danger">Username or passwrod incorrect</p>

{% endif %}
</br>
<input type="submit"  class="btn btn-warning" value="Login">
</br>

<a href="/register">Click here to register!</a>
</form>


</center>
<style>
  body{
    background-color: plum;
  }
</style>

{% endblock %}
